body{
    font-family: "Cormorant Garamond", serif;
    background-color: black;
    color:white;
    margin: 0;
}

header {
    text-align: center;
    background-color: #800000;
}

header h1 {
    margin: 0;
    padding: 0.25em;
}

header a {
    /*color: white;*/
    font-size: 1.25em;
}

nav {
    padding: 0.25em 0.25em 1.5em;
}

nav a {
    padding: 0em 1.5em;
    /*text-decoration: none;*/
}

.container{
    margin: 1em;
}

.img-text-container {
    display: grid;
    grid-template-columns: 1fr 2fr; /*https://www.w3schools.com/cssref/pr_grid-template-columns.php*/

}

.text-block {
    padding: 0em 1.5em;
}
